<span style = "text-align: center"><ngb-alert *ngIf="!staticAlertClosed && !Me" [dismissible]="false">Oops! Looks like you haven't signed in</ngb-alert></span>

<div class = "container">
    <div class = "row justify-content-center" *ngIf = "!Me">
        <div class = "col-md-4" style = "padding-top: 6rem">
            <div class="card border-info">
                <div class = "card-body text-info">
                    <h5 class="card-title" style = "text-align: center">Sign in to your account</h5>
                    <div class="form-group">
                        <div class="col-12">
                            <input #Name class="form-control" placeholder = "User Name" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-12">
                            <input #Password class="form-control" placeholder = "Password" type="password">
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm" style = "float:right" (click) = "login(Name.value, Password.value)" (click) = "isLoginSuccess()">Sign in</button> 
                    <p id = "isLoginFail" class="text-danger" style="padding-left:15px; margin-bottom:0"></p>
                    <div>
                        <p style = "clear:right; padding-top:15px; margin-bottom: 0; margin-left:15px">Don't have account yet?</p>
                        <a class="nav-link" routerLink="/signup" routerLinkActive="active" style = "text-decoration: underline;">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "row justify-content-center" *ngIf = "Me">
        <h3>Thank you for using our service. You are already signed in</h3>
    </div>
</div>
