<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class = "container">
    <a class="navbar-brand" routerLink = "/home">Fitness Tracker</a>
    <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tracker" routerLinkActive="active">Tracker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/share" routerLinkActive="active">Share</a>
        </li>
      </ul>
      <span class="nav-item justify-content:between"><a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign up</a></span>
      <span class="nav-item justify-content:between"><a class="nav-link" routerLink="/signin" routerLinkActive="active">Sign in</a></span>
    </div>
  </div>
</nav>