
<div class = "container">
    <div class = "row">
      <div class = "col-5">
        <div class="card border-primary mb-3">
          <div class="card-body text-primary">
            <h5 class="card-title">Send Friend Requests</h5>
            <h6 class="card-subtitle mb-2 text-muted">Choose users</h6>
            <div>
              <ul class="list-group list-group-flush">
                <li *ngFor = "let user of Users" 
                  [hidden] = "inRequestToMe(user.UserId)"
                  [hidden] = "inMyRequests(user.UserId)"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    <img class="rounded" [src]="user.UserProfile.ProfileImg" style = "height: 24px; width: 24px" alt="">
                    
                    {{user.UserId}}
                    <form>
                  <button (click) = "sendFriendReq($event, user.UserId)"
                  
                  class = "btn btn-sm btn-primary">
                  Request Friend
                  </button>
                </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        <div class = "col-7">
            <div class="card border-info mb-3">
                    <div class="card-body text-info">
                        <h5 class="card-title">Friend Requests</h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <ul class="list-group list-group-flush text-info">
                            <li *ngFor = "let req of Me.Friend.RequestsToMe" 
                              class="list-group-item">
                              {{req}}
                              <button class="btn btn-primary btn-sm" style = "float:right" (click) = "acceptFriendReq($event, req)"> Accept</button>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>       
      </div>
    <div class = "row" >
        <div class="card col border-danger mb-3">
                <div class="card-body text-danger">
                  <h5 class="card-title">Shared Friends</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Today is: </h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush text-info">
                    <li *ngFor = "let list of Me.Friend.Friends"
                      (click) = "showFriends(list)" 
                      class="list-group-item">
                      {{list}}
                      <div *ngIf = "isSelectedFriend(list)">
                        <div class="card border-success mb-3">
                            <div class="card-body text-success">
                                <h5 class="card-title">Workout Summary</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Today is: {{today}}</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>   
                            <ul class="list-group list-group-flush text-info">
                                <li class="list-group-item" *ngFor = "let workout of selectedFriend.Workout">
                                    {{workout.ActivityName}} Duration: {{workout.Duration}} minutes Cycles: {{workout.Cycle}} times
                                </li>
                            </ul>
                            <div class="card-body text-success">
                                <p class="card-text">Total Workout Time Today: {{selectedFriend.Today.TotalTime}} minutes</p>
                                <p class="card-text">Total Number of Exercises : {{selectedFriend.Today.TotalWorkoutType}} </p>
                            </div>
                        </div>
                      </div>
                    </li>
                </ul>
        </div>
    </div>
</div>
