<h1>Welcome to Fitness Tracker!</h1>
<div class = "row">
    <div class="col">     
      <div class="card">
          <img class="card-img-top" *ngIf = "Model.Picture" [src] = "Model.Picture.url" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>
    <div class="col">     
        <div class="card">
            <img class="card-img-top" *ngIf = "Model.Tips" [src] = "Model.Tips.url" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col">     
      <div class="card">
          <img class="card-img-top" *ngIf = "Model.Picture" [src] = "Model.Picture.url" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>
  </div>